@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
		
}
a{
    text-decoration: none;
}
body {
    width: 100%;
    min-height: 100vh;
    background-color: #111111;
	
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    height: 70px;
    padding: 0px 8%;
    position: sticky;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: 0.3s;
    z-index: 9999;
	border-bottom: 2px solid rgb(24, 24, 24);
}
.header-2 a {
    padding: 100px;
    color: white;
}
div img{
    margin-top: 10px;
    width: 100px;
}

.hamburger {
	display: none;
}

.searches{
    width: 210px;
    border-radius: 3px;
    border: none;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16.5px;
}
nav ul li a{
    color: #ffffff;
    position: relative;
    padding: 10px 0;
}
.navbar a {
    color: #ffffff;
    position: relative;
    padding: 1px 0px;
    margin-right: 80px;
}
.navbar a:hover{
    color: #CF2D1E;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #CF2D1E;
    transition: .3s;
    bottom: 0;
}
.navbar a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #CF2D1E;
    transition: .3s;
    bottom: 0;
}
.navbar a:hover:after{
    width: 100%;
}



/* Promos */
#promos {
	background-color: #cf2d1e;
	text-align: center;
	color: white;
	font-size: 20px;
	text-transform: capitalize;
	padding: 15px 0;
}




/* asdada */

#home{
	height: 83vh;
	overflow: hidden;
	position: relative;
	background-position: center;
    position: relative;


}




#home .slide{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-position: center;
	z-index:1; 
	display:none;
	animation: slide 2s ease;
	background-repeat: no-repeat;
}
#home .slide.active{
	display: flex;
}


@keyframes slide{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}


.container{
	max-width: 1400px;
	margin:auto;
	
}

#home .container{
	 flex-grow: 1;
}
#home .caption{
	width:50%;
}
#home .caption h1{
	font-size:42px;
	color:#ffffff;
	margin:0;
	
}
#home .slide.active .caption h1{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1s;
}
#home .caption p{
	font-size: 18px;
	margin:15px 0 30px;
	color:#ffffff;
}
#home .slide.active .caption p{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.2s;
}
#home .caption a{
 display: inline-block;
 padding:10px 30px;
 background-color: #CF2D1E;
 text-decoration: none;
 color:#ffffff;
}

#home .slide.active .caption a{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.4s;
}

@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	 opacity:1; transform: translateX(0px);	
	}
}

.prev {
	margin-left: 2%;
}
.next {
	margin-right: 2%;
}

#home .controls .prev,
#home .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#cf2d1e38;
 /* background-color: #CF2D1E; */
 text-align: center;
 line-height: 40px;
 font-size:100px;
 cursor:pointer;
 transition: all .5s ease;
}
#home .controls .prev:hover,
#home .controls .next:hover{
	color: #cf2d1e;
}
#home .controls .prev{
 left:0;
}
#home .controls .next{
 right:0;
}

#home .indicator{
	position: absolute;
	left:50%;
	bottom: 30px;
	z-index: 2;
	transform: translateX(-50%);
}

#home .indicator div{
	display: inline-block;
	width:10px;
	height: 10px;
	color:#ffffff;
	background-color: #cf2d1e62;
	border-radius:50%;
	text-align: center;
	line-height: 25px;
	margin:0 4px;
	cursor: pointer;
}

#home .indicator div.active{
 background-color: rgba(255, 255, 255, 0.418);
 color: #000000;
}


/* --- Page Builder Section--- */

#builder{
	height: 100%;
	overflow: hidden;
	position: relative;	
	width: 100%;
	color: #ffffff;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../images/JO7dyk.jpg	");
	display: flex;
	justify-content: center;
	background-size: cover;
	background-position: center;


}

#builder .container2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5em;
	flex-wrap: wrap;
	flex-direction: row;
	

}

#builder .container2 img {
	width: 600px;
	
}

#builder .container2 .caption  {
	line-height: 60px;
	
	
}
#builder .container2 .caption h1 {
	font-size: 2.5rem;
	background: -webkit-linear-gradient(#CF2D1E 20%, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}
#builder .container2 .caption h2 {
	font-size: 2rem;
	/* background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	
}

/* background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%); */

#builder .container2 .caption a{
	display: inline-block;
	padding: 0px 20px;
	background-color: #CF2D1E;
	text-decoration: none;
	color:#ffffff;
	transition: .5s;
	border-radius: 4px;
	margin-top: 10px;
   }

#builder .container2 .caption a:hover{
	background-color: #4f110b;
}


#product{
	width: 100%;
	height: 100%;
	position: relative;
		
}

#product h1 {
	color: #ffffff;
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
}

#product .slider{
	margin: 25px;
	width: 200px;
	height: 300px;

}
#product .container3 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}

#product .container3 .slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	/* border: 1px solid white; */
	margin: 0 20px;
	
	
}


#product .container3 .slider .image{
/* border: 1px solid white; */
height: 200px;
padding: 30px ;

}


#product .container3 .slider .image img{
width: 150px;
-webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
cursor: pointer;
transition: transform .2s;	
}

#product .container3 .slider .image img:hover {
	transform: scale(1.5);
}

#product .container3 .slider .content {
	color: white;
	cursor: pointer;
	font-size: 15px;
	font-weight: 200;
	
}
#product .container3 .slider .content a:hover {
	color: #CF2D1E;
}



#product .more-products {
	text-align: center;
	margin: 50px;
	
}

#product .more-products a {
	padding: 10px 20px;
	background-color: #CF2D1E;
	text-decoration: none;
	color:#ffffff;
	transition: .5s;
	border-radius: 4px;
	
}
#product .more-products a:hover {
	background-color: #4f110b;
}

.more-products button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
   }
   
 .more-products  button.learn-more {
	width: 12rem;
	height: auto;
   }


   
.more-products  button.learn-more .circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 3rem;
	height: 3rem;
	background: #CF2D1E;
	border-radius: 1.625rem;
   }
   
.more-products button.learn-more .circle .icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
   }
   
.more-products button.learn-more .circle .icon.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
   }
   
.more-products button.learn-more .circle .icon.arrow::before {
	position: absolute;
	content: "";
	top: -0.29rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
   }
   
.more-products  button.learn-more .button-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	margin: 0 0 0 1.85rem;
	color: #282936;
	font-weight: 400;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
   }
   
.more-products button:hover .circle {
	width: 100%;
   }
   
.more-products button:hover .circle .icon.arrow {
	background: #fff;
	transform: translate(1rem, 0);
   }
   
.more-products button:hover .button-text {
	color: #fff;
   }



#testimonials{
	width: 100%;
	height: 100%;
	overflow:hidden;
	position: relative;
	background-color: rgb(3,3,2);
	
		
}
#testimonials .heading {
	display: inline-block;
	position: relative;
	color: #CF2D1E;
	font-size: 4vw;
	padding: 60px;
	width: 100%;
	text-align: center;
	font-weight: 800;
	
}

#testimonials .heading b{
	color: #fff;
}

#testimonials .wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	margin-bottom: 100px;
}
#testimonials .wrapper .container {
	position: relative;
	width: 350px;
	color: #fff;
	background-color: #222;
	margin: 40px 10px;
	padding: 30px 20px;
	border-radius: 3px;
	transition: 0.3s ease;
}
#testimonials .wrapper .container .profile {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -10%;
	width: 100%;
	display: block;
}
#testimonials .wrapper .container .profile .imgBox {
	position: relative;
	height: 100px;
	width: 100px;
	margin: auto;
	border: 3px solid #070c0d;
	border-radius: 50%;
	overflow: hidden;

}

#testimonials .wrapper .container .profile .imgBox img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: -10px;
	left: 0;
	border-radius: 50%;
	object-fit: cover;
	transition: 0.3s ease;
}

#testimonials .wrapper .container .profile .imgBox:hover img {
	filter: saturate(140%);
	transform: scale(0.95);
}

#testimonials .wrapper .container .profile h2 {
	padding: 5px 0;
	text-transform: capitalize;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}
#testimonials .wrapper .container p{
	margin-top: 70px;
	color: #fff;
	padding: 0 8px;
	opacity: 0.8;
}

#testimonials .wrapper .container .social{
	width: 100%;
	margin-top: 20px;
}
#testimonials .wrapper .container .social i{
	font-size: 1.2em;
	color: #fff;
	padding: 8px;
	background: rgba(255,255,255,0.08);
	border-radius: 4px;
	box-shadow: 0 4px 4px rgba(0,0,0,0.5);
	cursor: pointer;
}
#testimonials .wrapper .container .social i:hover{
	background-color: #CF2D1E;
}





footer{
	width: 100%;
	position: relative;
	bottom: 0;
	left: 0;
	background: #111;
  }
  footer .content{
	max-width: 1350px;
	margin: auto;
	padding: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  footer .content p,a{
	color: #fff;
  }
  footer .content .box{
	width: 33%;
	transition: all 0.4s ease;
  }
  footer .content .topic{
	font-size: 22px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 16px;
  
  }
  footer .content p{
	text-align: justify;
  }
  footer .content .lower .topic{
	margin: 24px 0 5px 0;
  }
  footer .content .lower i{
	padding-right: 16px;
  }
  footer .content .middle{
	padding-left: 80px;
  }
  footer .content .middle a{
	line-height: 32px;
  }
  footer .content .right input[type="text"]{
	height: 45px;
	width: 100%;
	outline: none;
	color: #d9d9d9;
	background: #000;
	border-radius: 5px;
	padding-left: 10px;

	font-size: 17px;
	border: 2px solid #222222;
  }
  footer .content .right input[type="submit"]{
	height: 42px;
	width: 100%;
	font-size: 18px;
	color: #d9d9d9;
	background: #eb2f06;
	outline: none;
	border-radius: 5px;
	letter-spacing: 1px;
	cursor: pointer;
	margin-top: 12px;
	border: 2px solid #eb2f06;
	transition: all 0.3s ease-in-out;

  }

  .content .right input[type="submit"]:hover{
	background: none;
	color:  #eb2f06;
  }
  footer .content .media-icons a{
	font-size: 16px;
	height: 45px;
	width: 45px;
	display: inline-block;
	text-align: center;
	line-height: 43px;
	border-radius: 5px;
	border: 2px solid #222222;
	margin: 30px 5px 0 0;
	transition: all 0.3s ease;

  }
  .content .media-icons a:hover{
	border-color: #eb2f06;
  }
  footer .bottom{
	width: 100%;
	text-align: center;
	color: #d9d9d9;
	
  }
  footer .bottom a{
	color: #eb2f06;
  }
  footer a{
	transition: all 0.3s ease;
  }
  footer a:hover{
	color: #eb2f06;
  }

  /* ABOUT US PAGE */
  #about_header {
	color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../images/dark-flash-i5-build-gaming-PC.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

  }
  #about_header .container {
	text-align: center;
	width:  700px;
	
  }

  #about_header .container h1 {
	padding: 40px 0;
	font-size: 3rem;

  }
  #about_header .container p {
	font-size: 30px;
	padding: 40px;
  }

  


/*responsive*/
@media(max-width: 767px){

	#home .caption{
		width:100%;
		text-align: center;
	}
	#home .slide{ 
		width: 100%;
		
	}
	#builder .container2 .caption {
		text-align: center;
	}
	#builder .container2 img {
		width: 376px;
	}

}



/* BUILDER PAGE */

#pc_builder {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../images/JO7dyk.jpg	");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.pcBuilder  {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: #fff;
	width: 100%;
	
 }
 .pcBuilder h1 {
	font-size: 50px;
	margin-bottom: -30px;
	margin-top: 30px;

 }
 
 .builderTable {
	margin: 50px auto;
	background-color: #242424;
	border-radius: 10px;	
	border-collapse: collapse;
	table-layout: fixed;
	width: 70%;
	
 }
 .builderTable td {
	padding: 2em;
	text-align: center;
	
 }
 
 .builderTable th {
	padding-top: 2em;
	font-size: 1.em;
	letter-spacing: .1em;
	text-transform: uppercase;
	text-align: center;
 }
 
 .component {
	padding-top: 50px;
	font-weight: 900;
 }
 
 .addCompBtn {
	padding-top: 50px;
 }
 
 .fa-plus {
	margin-right: 5px;
 }
 
 .addCompBtn button {
	outline: none;
	border: none;
	padding: 5px;
	color: white;
	background-color: #CF2D1E;
	border-radius: 5px;
	font-weight: 900;
	cursor: pointer;
 }

 .addCompBtn button:hover {
	background-color:  #6c1d16;
 }





/* Product PAge */
#allproducts {
	background-color: #0f0e0e;
	color: #ffffff;
}
#allproducts .title {
	margin-left: 50px;
	padding-bottom:30px ;
}
#allproducts .container {
	display: flex;
	padding: 50px;
	max-width: 1600px;
	
}
#allproducts .container .leftMenu {
	flex: 1;
}

#allproducts .container .leftMenu .search {
	padding: 10px;
	width: 300px;
	border: 1px solid gray;
	border-radius: 5px;
	
}
#allproducts .container .leftMenu h1 {
	padding: 30px 0;
	font-size: 35px;
	color: rgb(218, 218, 218);
	font-weight: 300;
}
#allproducts .container .leftMenu .cats {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
#allproducts .container .leftMenu .cats .cat {
	cursor: pointer;
	font-size: 20px;
	font-weight: 300;
	padding: 10px;
	background-color: #cf2d1ee4;
	border-radius: 7px;	
	margin: 2px 0px;
	
}

#allproducts .container .leftMenu .cats .cat:hover, .active {
	background-color: #cf2d1ea1;
}

#allproducts .container .content{
	flex: 4;
}

#allproducts .container .content .products {
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	margin-left: 50px;
}
#allproducts .container .content .products .product {
	width: 350px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	background-color: #423e3e;
	padding-bottom: 30px;
	border-radius: 10px;
	
}
#allproducts .container .content .products .product:hover {
	box-shadow: 5px 5px 20px #6f6e6e;
}

#allproducts .container .content .products .product img {
	width: 200px;
	height: 250px;
	object-fit: contain;
	cursor: pointer;
}
#allproducts .container .content .products .product .name {
	height: 100px;
	font-size: small;
	text-align: center;
}

#allproducts .container .content .products .product .product_price {
	display: flex;
	justify-content: space-between;
	gap: 70px;
}
#allproducts .container .content .products .product .product_price span {
	font-size: 25px;
}

#allproducts .container .content .products .product .product_price button {
	background-color: #CF2D1E;
	padding: 0 10px;
	border: none;
	color: white;
	border-radius: 5px;
	cursor: pointer;

}
#allproducts .container .content .products .product .product_price button:hover {
	background-color: #cf2d1eac;
}
/* @media (max-width:768px) {
#allproducts .container .leftMenu {
	display: none;
}
} */

@media (max-width:1240px){
	.navbar a{
		padding: 0 10px;
		font-size: 20px;
		margin: 0 auto;
	
		
	}
  }

  @media (max-width:1100px) {
	#builder .container2 {
		display: block;
		text-align: center;
	}
	#builder .container2 .caption h1{
		font-size: 40px;
	}

	footer .content .middle{
	  padding-left: 50px;
	}
  }

  @media (max-width:950px){

	.hamburger {
		display: block;
		cursor: pointer;
	}
	.hamburger .line {
		width: 30px;
		height: 3px;
		background-color: #fff;
		margin: 6px 0;
		
	}
	.navbar {
		height: 0;
		position: absolute;
		top: 68px;
		left: 0;
		right: 0;
		width: 100vw;
		background-color: #070c0d;
		transition: 0.5s;
		overflow: hidden;
		
	}
	.navbar.active {
		height: 450px;
		
	}

	.navbar a{
		display: block;
		width: fit-content;
		margin: 50px auto 0 auto;
		transition: 0.5s;
		opacity: 0;
	}
	.navbar.active a {
		opacity: 1;
	}

	footer .content .box{
	  width: 50%;
	}
	.content .right{
	  margin-top: 40px;
	}
  }





 @media(max-width: 768px) {

	table {
	  border: 0;
	}
  
	
	.builderTable th {
		display: none;
	}
	
	table tr {
	  display: block;
	  margin-bottom: .625em;
	  border-bottom: 1px solid rgb(89, 89, 89);
	}
	
	table td {
	  display: block;
	  font-size: .8em;
	  text-align: right;
	
	 
	}
	
	table td::before {
	  /*
	  * aria-label has no advantage, it won't be read inside a table
	  content: attr(aria-label);
	  */
	  content: attr(data-label);
	  float: right;
	  font-weight: bold;
	  text-transform: uppercase;
	}
	
	table td:last-child {
	  border-bottom: 0;
	}

	.addCompBtn button {
		font-size: 12px;
	 }
  }


 
  @media (max-width:560px){
	footer{
	  position: relative;
	}
	footer .content .box{
	  width: 100%;
	  margin-top: 30px;
	}
	footer .content .middle{
	  padding-left: 0;
	}
  }
